raw/20221120/
dat/
phe/
gwa/cov/qcov/age.hgt.fa.25.tsv
gwa/cov/qcov/age.hgt.fa.24.tsv
gwa/cov/qcov/age.hgt.fa.23.tsv
gwa/cov/qcov/age.hgt.fa.22.tsv
gwa/cov/qcov/age.hgt.fa.21.tsv
gwa/cov/qcov/age.hgt.fa.20.tsv
gwa/cov/qcov/age.hgt.fa.19.tsv
gwa/cov/qcov/age.hgt.fa.18.tsv
gwa/cov/qcov/age.hgt.fa.17.tsv
gwa/cov/qcov/age.hgt.fa.16.tsv
gwa/cov/qcov/age.hgt.fa.15.tsv
gwa/cov/qcov/age.hgt.fa.14.tsv
gwa/cov/qcov/age.hgt.fa.13.tsv
gwa/cov/qcov/age.hgt.fa.12.tsv
gwa/cov/qcov/age.hgt.fa.11.tsv
gwa/cov/qcov/age.hgt.fa.10.tsv
gwa/cov/qcov/age.hgt.fa.09.tsv
gwa/cov/qcov/age.hgt.fa.08.tsv
gwa/cov/qcov/age.hgt.fa.07.tsv
gwa/cov/qcov/age.hgt.fa.06.tsv
gwa/cov/qcov/age.hgt.fa.05.tsv
gwa/cov/qcov/age.hgt.fa.04.tsv
gwa/cov/qcov/age.hgt.fa.03.tsv
gwa/cov/qcov/age.hgt.fa.02.tsv
gwa/cov/qcov/age.hgt.fa.01.tsv
gwa/cov/qcov/age.hgt.bq.240.tsv
gwa/cov/qcov/age.hgt.bq.239.tsv
gwa/cov/qcov/age.hgt.bq.238.tsv
gwa/cov/qcov/age.hgt.bq.237.tsv
gwa/cov/qcov/age.hgt.bq.236.tsv
gwa/cov/qcov/age.hgt.bq.235.tsv
gwa/cov/qcov/age.hgt.bq.234.tsv
gwa/cov/qcov/age.hgt.bq.233.tsv
gwa/cov/qcov/age.hgt.bq.232.tsv
gwa/cov/qcov/age.hgt.bq.231.tsv
gwa/cov/qcov/age.hgt.bq.230.tsv
gwa/cov/qcov/age.hgt.bq.229.tsv
gwa/cov/qcov/age.hgt.bq.228.tsv
gwa/cov/qcov/age.hgt.bq.227.tsv
gwa/cov/qcov/age.hgt.bq.226.tsv
gwa/cov/qcov/age.hgt.bq.225.tsv
gwa/cov/qcov/age.hgt.bq.224.tsv
gwa/cov/qcov/age.hgt.bq.223.tsv
gwa/cov/qcov/age.hgt.bq.222.tsv
gwa/cov/qcov/age.hgt.bq.221.tsv
gwa/cov/qcov/age.hgt.bq.220.tsv
gwa/cov/qcov/age.hgt.bq.219.tsv
gwa/cov/qcov/age.hgt.bq.218.tsv
gwa/cov/qcov/age.hgt.bq.217.tsv
gwa/cov/qcov/age.hgt.bq.216.tsv
gwa/cov/qcov/age.hgt.bq.215.tsv
gwa/cov/qcov/age.hgt.bq.214.tsv
gwa/cov/qcov/age.hgt.bq.213.tsv
gwa/cov/qcov/age.hgt.bq.212.tsv
gwa/cov/qcov/age.hgt.bq.211.tsv
gwa/cov/qcov/age.hgt.bq.210.tsv
gwa/cov/qcov/age.hgt.bq.209.tsv
gwa/cov/qcov/age.hgt.bq.208.tsv
gwa/cov/qcov/age.hgt.bq.207.tsv
gwa/cov/qcov/age.hgt.bq.206.tsv
gwa/cov/qcov/age.hgt.bq.205.tsv
gwa/cov/qcov/age.hgt.bq.204.tsv
gwa/cov/qcov/age.hgt.bq.203.tsv
gwa/cov/qcov/age.hgt.bq.202.tsv
gwa/cov/qcov/age.hgt.bq.201.tsv
gwa/cov/qcov/age.hgt.bq.200.tsv
gwa/cov/qcov/age.hgt.bq.199.tsv
gwa/cov/qcov/age.hgt.bq.198.tsv
gwa/cov/qcov/age.hgt.bq.197.tsv
gwa/cov/qcov/age.hgt.bq.196.tsv
gwa/cov/qcov/age.hgt.bq.195.tsv
gwa/cov/qcov/age.hgt.bq.185.tsv
gwa/cov/qcov/age.hgt.bq.184.tsv
gwa/cov/qcov/age.hgt.bq.182.tsv
gwa/cov/qcov/age.hgt.bq.181.tsv
gwa/cov/qcov/age.hgt.bq.180.tsv
gwa/cov/qcov/age.hgt.bq.179.tsv
gwa/cov/qcov/age.hgt.bq.178.tsv
gwa/cov/qcov/age.hgt.bq.177.tsv
gwa/cov/qcov/age.hgt.bq.175.tsv
gwa/cov/qcov/age.hgt.bq.174.tsv
gwa/cov/qcov/age.hgt.bq.173.tsv
gwa/cov/qcov/age.hgt.bq.172.tsv
gwa/cov/qcov/age.hgt.bq.171.tsv
gwa/cov/qcov/age.hgt.bq.170.tsv
gwa/cov/qcov/age.hgt.bq.169.tsv
gwa/cov/qcov/age.hgt.bq.168.tsv
gwa/cov/qcov/age.hgt.bq.167.tsv
gwa/cov/qcov/age.hgt.bq.166.tsv
gwa/cov/qcov/age.hgt.bq.165.tsv
gwa/cov/qcov/age.hgt.bq.155.tsv
gwa/cov/qcov/age.hgt.bq.154.tsv
gwa/cov/qcov/age.hgt.bq.153.tsv
gwa/cov/qcov/age.hgt.bq.152.tsv
gwa/cov/qcov/age.hgt.bq.151.tsv
gwa/cov/qcov/age.hgt.bq.150.tsv
gwa/cov/qcov/age.hgt.bq.149.tsv
gwa/cov/qcov/age.hgt.bq.148.tsv
gwa/cov/qcov/age.hgt.bq.147.tsv
gwa/cov/qcov/age.hgt.bq.146.tsv
gwa/cov/qcov/age.hgt.bq.145.tsv
gwa/cov/qcov/age.hgt.bq.144.tsv
gwa/cov/qcov/age.hgt.bq.110.tsv
gwa/cov/qcov/age.hgt.bq.109.tsv
gwa/cov/qcov/age.hgt.bq.108.tsv
gwa/cov/qcov/age.hgt.bq.107.tsv
gwa/cov/qcov/age.hgt.bq.106.tsv
gwa/cov/qcov/age.hgt.bq.105.tsv
gwa/cov/qcov/age.hgt.bq.104.tsv
gwa/cov/qcov/age.hgt.bq.103.tsv
gwa/cov/qcov/age.hgt.bq.102.tsv
gwa/cov/qcov/age.hgt.bq.101.tsv
gwa/cov/qcov/age.hgt.bq.100.tsv
gwa/cov/qcov/age.hgt.bq.099.tsv
gwa/cov/qcov/age.hgt.bq.098.tsv
gwa/cov/qcov/age.hgt.bq.097.tsv
gwa/cov/qcov/age.hgt.bq.096.tsv
gwa/cov/qcov/age.hgt.bq.095.tsv
gwa/cov/qcov/age.hgt.bq.094.tsv
gwa/cov/qcov/age.hgt.bq.093.tsv
gwa/cov/qcov/age.hgt.bq.092.tsv
gwa/cov/qcov/age.hgt.bq.091.tsv
gwa/cov/qcov/age.hgt.bq.090.tsv
gwa/cov/qcov/age.hgt.bq.089.tsv
gwa/cov/qcov/age.hgt.bq.088.tsv
gwa/cov/qcov/age.hgt.bq.087.tsv
gwa/cov/qcov/age.hgt.bq.086.tsv
gwa/cov/qcov/age.hgt.bq.085.tsv
gwa/cov/qcov/age.hgt.bq.084.tsv
gwa/cov/qcov/age.hgt.bq.083.tsv
gwa/cov/qcov/age.hgt.bq.082.tsv
gwa/cov/qcov/age.hgt.bq.081.tsv
gwa/cov/qcov/age.hgt.bq.080.tsv
gwa/cov/qcov/age.hgt.bq.079.tsv
gwa/cov/qcov/age.hgt.bq.078.tsv
gwa/cov/qcov/age.hgt.bq.077.tsv
gwa/cov/qcov/age.hgt.bq.076.tsv
gwa/cov/qcov/age.hgt.bq.075.tsv
gwa/cov/qcov/age.hgt.bq.074.tsv
gwa/cov/qcov/age.hgt.bq.073.tsv
gwa/cov/qcov/age.hgt.bq.072.tsv
gwa/cov/qcov/age.hgt.bq.071.tsv
gwa/cov/qcov/age.hgt.bq.070.tsv
gwa/cov/qcov/age.hgt.bq.069.tsv
gwa/cov/qcov/age.hgt.bq.068.tsv
gwa/cov/qcov/age.hgt.bq.067.tsv
gwa/cov/qcov/age.hgt.bq.066.tsv
gwa/cov/qcov/age.hgt.bq.065.tsv
gwa/cov/qcov/age.hgt.bq.064.tsv
gwa/cov/qcov/age.hgt.bq.063.tsv
gwa/cov/qcov/age.hgt.bq.062.tsv
gwa/cov/qcov/age.hgt.bq.061.tsv
gwa/cov/qcov/age.hgt.bq.060.tsv
gwa/cov/qcov/age.hgt.bq.059.tsv
gwa/cov/qcov/age.hgt.bq.058.tsv
gwa/cov/qcov/age.hgt.bq.057.tsv
gwa/cov/qcov/age.hgt.bq.056.tsv
gwa/cov/qcov/age.hgt.bq.055.tsv
gwa/cov/qcov/age.hgt.bq.054.tsv
gwa/cov/qcov/age.hgt.bq.053.tsv
gwa/cov/qcov/age.hgt.bq.052.tsv
gwa/cov/qcov/age.hgt.bq.051.tsv
gwa/cov/qcov/age.hgt.bq.050.tsv
gwa/cov/qcov/age.hgt.bq.049.tsv
gwa/cov/qcov/age.hgt.bq.048.tsv
gwa/cov/qcov/age.hgt.bq.047.tsv
gwa/cov/qcov/age.hgt.bq.046.tsv
gwa/cov/qcov/age.hgt.bq.045.tsv
gwa/cov/qcov/age.hgt.bq.044.tsv
gwa/cov/qcov/age.hgt.bq.043.tsv
gwa/cov/qcov/age.hgt.bq.042.tsv
gwa/cov/qcov/age.hgt.bq.041.tsv
gwa/cov/qcov/age.hgt.bq.040.tsv
gwa/cov/qcov/age.hgt.bq.039.tsv
gwa/cov/qcov/age.hgt.bq.038.tsv
gwa/cov/qcov/age.hgt.bq.037.tsv
gwa/cov/qcov/age.hgt.bq.036.tsv
gwa/cov/qcov/age.hgt.bq.035.tsv
gwa/cov/qcov/age.hgt.bq.034.tsv
gwa/cov/qcov/age.hgt.bq.033.tsv
gwa/cov/qcov/age.hgt.bq.032.tsv
gwa/cov/qcov/age.hgt.bq.031.tsv
gwa/cov/qcov/age.hgt.bq.030.tsv
gwa/cov/qcov/age.hgt.bq.029.tsv
gwa/cov/qcov/age.hgt.bq.028.tsv
gwa/cov/qcov/age.hgt.bq.027.tsv
gwa/cov/qcov/age.hgt.bq.026.tsv
gwa/cov/qcov/age.hgt.bq.025.tsv
gwa/cov/qcov/age.hgt.bq.024.tsv
gwa/cov/qcov/age.hgt.bq.023.tsv
gwa/cov/qcov/age.hgt.bq.022.tsv
gwa/cov/qcov/age.hgt.bq.021.tsv
gwa/cov/qcov/age.hgt.bq.020.tsv
gwa/cov/qcov/age.hgt.bq.019.tsv
gwa/cov/qcov/age.hgt.bq.018.tsv
gwa/cov/qcov/age.hgt.bq.017.tsv
gwa/cov/qcov/age.hgt.bq.016.tsv
gwa/cov/qcov/age.hgt.bq.015.tsv
gwa/cov/qcov/age.hgt.bq.014.tsv
gwa/cov/qcov/age.hgt.bq.013.tsv
gwa/cov/qcov/age.hgt.bq.012.tsv
gwa/cov/qcov/age.hgt.bq.011.tsv
gwa/cov/qcov/age.hgt.bq.010.tsv
gwa/cov/qcov/age.hgt.bq.009.tsv
gwa/cov/qcov/age.hgt.bq.008.tsv
gwa/cov/qcov/age.hgt.bq.007.tsv
gwa/cov/qcov/age.hgt.bq.006.tsv
gwa/cov/qcov/age.hgt.bq.005.tsv
gwa/cov/qcov/age.hgt.bq.004.tsv
gwa/cov/qcov/age.hgt.bq.003.tsv
gwa/cov/qcov/age.hgt.bq.002.tsv
gwa/cov/qcov/age.hgt.bq.001.tsv
gwa/cov/qcov/age.fa.25.tsv
gwa/cov/qcov/age.fa.24.tsv
gwa/cov/qcov/age.fa.23.tsv
gwa/cov/qcov/age.fa.22.tsv
gwa/cov/qcov/age.fa.21.tsv
gwa/cov/qcov/age.fa.20.tsv
gwa/cov/qcov/age.fa.19.tsv
gwa/cov/qcov/age.fa.18.tsv
gwa/cov/qcov/age.fa.17.tsv
gwa/cov/qcov/age.fa.16.tsv
gwa/cov/qcov/age.fa.15.tsv
gwa/cov/qcov/age.fa.14.tsv
gwa/cov/qcov/age.fa.13.tsv
gwa/cov/qcov/age.fa.12.tsv
gwa/cov/qcov/age.fa.11.tsv
gwa/cov/qcov/age.fa.10.tsv
gwa/cov/qcov/age.fa.09.tsv
gwa/cov/qcov/age.fa.08.tsv
gwa/cov/qcov/age.fa.07.tsv
gwa/cov/qcov/age.fa.06.tsv
gwa/cov/qcov/age.fa.05.tsv
gwa/cov/qcov/age.fa.04.tsv
gwa/cov/qcov/age.fa.03.tsv
gwa/cov/qcov/age.fa.02.tsv
gwa/cov/qcov/age.fa.01.tsv
gwa/cov/qcov/age.bq.240.tsv
gwa/cov/qcov/age.bq.239.tsv
gwa/cov/qcov/age.bq.238.tsv
gwa/cov/qcov/age.bq.237.tsv
gwa/cov/qcov/age.bq.236.tsv
gwa/cov/qcov/age.bq.235.tsv
gwa/cov/qcov/age.bq.234.tsv
gwa/cov/qcov/age.bq.233.tsv
gwa/cov/qcov/age.bq.232.tsv
gwa/cov/qcov/age.bq.231.tsv
gwa/cov/qcov/age.bq.230.tsv
gwa/cov/qcov/age.bq.229.tsv
gwa/cov/qcov/age.bq.228.tsv
gwa/cov/qcov/age.bq.227.tsv
gwa/cov/qcov/age.bq.226.tsv
gwa/cov/qcov/age.bq.225.tsv
gwa/cov/qcov/age.bq.224.tsv
gwa/cov/qcov/age.bq.223.tsv
gwa/cov/qcov/age.bq.222.tsv
gwa/cov/qcov/age.bq.221.tsv
gwa/cov/qcov/age.bq.220.tsv
gwa/cov/qcov/age.bq.219.tsv
gwa/cov/qcov/age.bq.218.tsv
gwa/cov/qcov/age.bq.217.tsv
gwa/cov/qcov/age.bq.216.tsv
gwa/cov/qcov/age.bq.215.tsv
gwa/cov/qcov/age.bq.214.tsv
gwa/cov/qcov/age.bq.213.tsv
gwa/cov/qcov/age.bq.212.tsv
gwa/cov/qcov/age.bq.211.tsv
gwa/cov/qcov/age.bq.210.tsv
gwa/cov/qcov/age.bq.209.tsv
gwa/cov/qcov/age.bq.208.tsv
gwa/cov/qcov/age.bq.207.tsv
gwa/cov/qcov/age.bq.206.tsv
gwa/cov/qcov/age.bq.205.tsv
gwa/cov/qcov/age.bq.204.tsv
gwa/cov/qcov/age.bq.203.tsv
gwa/cov/qcov/age.bq.202.tsv
gwa/cov/qcov/age.bq.201.tsv
gwa/cov/qcov/age.bq.200.tsv
gwa/cov/qcov/age.bq.199.tsv
gwa/cov/qcov/age.bq.198.tsv
gwa/cov/qcov/age.bq.197.tsv
gwa/cov/qcov/age.bq.196.tsv
gwa/cov/qcov/age.bq.195.tsv
gwa/cov/qcov/age.bq.185.tsv
gwa/cov/qcov/age.bq.184.tsv
gwa/cov/qcov/age.bq.182.tsv
gwa/cov/qcov/age.bq.181.tsv
gwa/cov/qcov/age.bq.180.tsv
gwa/cov/qcov/age.bq.179.tsv
gwa/cov/qcov/age.bq.178.tsv
gwa/cov/qcov/age.bq.177.tsv
gwa/cov/qcov/age.bq.175.tsv
gwa/cov/qcov/age.bq.174.tsv
gwa/cov/qcov/age.bq.173.tsv
gwa/cov/qcov/age.bq.172.tsv
gwa/cov/qcov/age.bq.171.tsv
gwa/cov/qcov/age.bq.170.tsv
gwa/cov/qcov/age.bq.169.tsv
gwa/cov/qcov/age.bq.168.tsv
gwa/cov/qcov/age.bq.167.tsv
gwa/cov/qcov/age.bq.166.tsv
gwa/cov/qcov/age.bq.165.tsv
gwa/cov/qcov/age.bq.155.tsv
gwa/cov/qcov/age.bq.154.tsv
gwa/cov/qcov/age.bq.153.tsv
gwa/cov/qcov/age.bq.152.tsv
gwa/cov/qcov/age.bq.151.tsv
gwa/cov/qcov/age.bq.150.tsv
gwa/cov/qcov/age.bq.149.tsv
gwa/cov/qcov/age.bq.148.tsv
gwa/cov/qcov/age.bq.147.tsv
gwa/cov/qcov/age.bq.146.tsv
gwa/cov/qcov/age.bq.145.tsv
gwa/cov/qcov/age.bq.144.tsv
gwa/cov/qcov/age.bq.110.tsv
gwa/cov/qcov/age.bq.109.tsv
gwa/cov/qcov/age.bq.108.tsv
gwa/cov/qcov/age.bq.107.tsv
gwa/cov/qcov/age.bq.106.tsv
gwa/cov/qcov/age.bq.105.tsv
gwa/cov/qcov/age.bq.104.tsv
gwa/cov/qcov/age.bq.103.tsv
gwa/cov/qcov/age.bq.102.tsv
gwa/cov/qcov/age.bq.101.tsv
gwa/cov/qcov/age.bq.100.tsv
gwa/cov/qcov/age.bq.099.tsv
gwa/cov/qcov/age.bq.098.tsv
gwa/cov/qcov/age.bq.097.tsv
gwa/cov/qcov/age.bq.096.tsv
gwa/cov/qcov/age.bq.095.tsv
gwa/cov/qcov/age.bq.094.tsv
gwa/cov/qcov/age.bq.093.tsv
gwa/cov/qcov/age.bq.092.tsv
gwa/cov/qcov/age.bq.091.tsv
gwa/cov/qcov/age.bq.090.tsv
gwa/cov/qcov/age.bq.089.tsv
gwa/cov/qcov/age.bq.088.tsv
gwa/cov/qcov/age.bq.087.tsv
gwa/cov/qcov/age.bq.086.tsv
gwa/cov/qcov/age.bq.085.tsv
gwa/cov/qcov/age.bq.084.tsv
gwa/cov/qcov/age.bq.083.tsv
gwa/cov/qcov/age.bq.082.tsv
gwa/cov/qcov/age.bq.081.tsv
gwa/cov/qcov/age.bq.080.tsv
gwa/cov/qcov/age.bq.079.tsv
gwa/cov/qcov/age.bq.078.tsv
gwa/cov/qcov/age.bq.077.tsv
gwa/cov/qcov/age.bq.076.tsv
gwa/cov/qcov/age.bq.075.tsv
gwa/cov/qcov/age.bq.074.tsv
gwa/cov/qcov/age.bq.073.tsv
gwa/cov/qcov/age.bq.072.tsv
gwa/cov/qcov/age.bq.071.tsv
gwa/cov/qcov/age.bq.070.tsv
gwa/cov/qcov/age.bq.069.tsv
gwa/cov/qcov/age.bq.068.tsv
gwa/cov/qcov/age.bq.067.tsv
gwa/cov/qcov/age.bq.066.tsv
gwa/cov/qcov/age.bq.065.tsv
gwa/cov/qcov/age.bq.064.tsv
gwa/cov/qcov/age.bq.063.tsv
gwa/cov/qcov/age.bq.062.tsv
gwa/cov/qcov/age.bq.061.tsv
gwa/cov/qcov/age.bq.060.tsv
gwa/cov/qcov/age.bq.059.tsv
gwa/cov/qcov/age.bq.058.tsv
gwa/cov/qcov/age.bq.057.tsv
gwa/cov/qcov/age.bq.056.tsv
gwa/cov/qcov/age.bq.055.tsv
gwa/cov/qcov/age.bq.054.tsv
gwa/cov/qcov/age.bq.053.tsv
gwa/cov/qcov/age.bq.052.tsv
gwa/cov/qcov/age.bq.051.tsv
gwa/cov/qcov/age.bq.050.tsv
gwa/cov/qcov/age.bq.049.tsv
gwa/cov/qcov/age.bq.048.tsv
gwa/cov/qcov/age.bq.047.tsv
gwa/cov/qcov/age.bq.046.tsv
gwa/cov/qcov/age.bq.045.tsv
gwa/cov/qcov/age.bq.044.tsv
gwa/cov/qcov/age.bq.043.tsv
gwa/cov/qcov/age.bq.042.tsv
gwa/cov/qcov/age.bq.041.tsv
gwa/cov/qcov/age.bq.040.tsv
gwa/cov/qcov/age.bq.039.tsv
gwa/cov/qcov/age.bq.038.tsv
gwa/cov/qcov/age.bq.037.tsv
gwa/cov/qcov/age.bq.036.tsv
gwa/cov/qcov/age.bq.035.tsv
gwa/cov/qcov/age.bq.034.tsv
gwa/cov/qcov/age.bq.033.tsv
gwa/cov/qcov/age.bq.032.tsv
gwa/cov/qcov/age.bq.031.tsv
gwa/cov/qcov/age.bq.030.tsv
gwa/cov/qcov/age.bq.029.tsv
gwa/cov/qcov/age.bq.028.tsv
gwa/cov/qcov/age.bq.027.tsv
gwa/cov/qcov/age.bq.026.tsv
gwa/cov/qcov/age.bq.025.tsv
gwa/cov/qcov/age.bq.024.tsv
gwa/cov/qcov/age.bq.023.tsv
gwa/cov/qcov/age.bq.022.tsv
gwa/cov/qcov/age.bq.021.tsv
gwa/cov/qcov/age.bq.020.tsv
gwa/cov/qcov/age.bq.019.tsv
gwa/cov/qcov/age.bq.018.tsv
gwa/cov/qcov/age.bq.017.tsv
gwa/cov/qcov/age.bq.016.tsv
gwa/cov/qcov/age.bq.015.tsv
gwa/cov/qcov/age.bq.014.tsv
gwa/cov/qcov/age.bq.013.tsv
gwa/cov/qcov/age.bq.012.tsv
gwa/cov/qcov/age.bq.011.tsv
gwa/cov/qcov/age.bq.010.tsv
gwa/cov/qcov/age.bq.009.tsv
gwa/cov/qcov/age.bq.008.tsv
gwa/cov/qcov/age.bq.007.tsv
gwa/cov/qcov/age.bq.006.tsv
gwa/cov/qcov/age.bq.005.tsv
gwa/cov/qcov/age.bq.004.tsv
gwa/cov/qcov/age.bq.003.tsv
gwa/cov/qcov/age.bq.002.tsv
gwa/cov/qcov/age.bq.001.tsv
gwa/DarwinsArk_mq.all.tsv
gwa/DarwinsArk_mp.all.tsv
gwa/DarwinsArk_fa.tail.all.tsv
gwa/DarwinsArk_fa.breed-agg.all.tsv
gwa/DarwinsArk_fa.all.tsv
gwa/DarwinsArk_cbarq.breed-agg.all.tsv
gwa/DarwinsArk_bq.all.tsv
Rplot.pdf
test.tsv
